
.vs/
Level5RessourceEditor/obj/
Level5RessourceEditor/bin/Debug/*.bin
Level5RessourceEditor/bin/Debug/*.zip
Level5RessourceEditor/bin/Debug/*.rar
Level5RessourceEditor/bin/Debug/*.xml
Level5RessourceEditor/bin/Debug/*.txt
Level5RessourceEditor/bin/Release/*.bin
Level5RessourceEditor/bin/Release/*.zip
Level5RessourceEditor/bin/Release/*.rar
Level5RessourceEditor/bin/Release/*.xml
Level5RessourceEditor/bin/Release/*.txt
